.container {
  border-bottom: 1px solid black;
  width: 200px;
  height: 300px;
  margin-left: 15px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: var(--boxShadow);
}

.image {
  width: 100%;
  margin: 0;
  height: 150px;
  background-color: black;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.title {
  padding-left: 5px;
  margin: 0;
}

.description {
  padding-left: 5px;
  margin: 0;
}

.price {
  padding-left: 5px;
}

@media (max-width: 767px) {
  .container {
    width: 150px;
    height: 250px;
    margin-left: 4px;
  }

  .image {
    height: 100px;
  }

  .title {
    font-size: 20px;
  }

  .description {
    font-size: 10px;
  }
}

.container:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
